<p>
  signals works!
</p>
<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Position</th>
        <th scope="col"># wartende Fahrzeuge</th>
        <th scope="col">EEP-Modell</th>
      </tr>
      </thead>
      <tbody *ngFor="let signal of sortedSignals">
      <tr>
        <th scope="row">{{ signal.id }}</th>
        <td ngSwitch="signal.position">{{ signal.position }}
          <span *ngSwitchCase="1">🔴</span>
          <span *ngSwitchCase="2">🔴</span>
          <span *ngSwitchDefault=""></span>
        </td>
        <td>
          <span *ngIf="signal.waitingVehiclesCount > 0; else noWait">
            <ngb-rating [(rate)]="signal.waitingVehiclesCount" [readonly]="true">
              <ng-template let-fill="fill">
                <span class="star" [class.filled]="fill === 100">🚗</span>
              </ng-template>
            </ngb-rating>
          </span>
          <ng-template #noWait>
            -
          </ng-template>
        </td>

        <td>{{ signal.modelId }}</td>
      </tr>
      </tbody>
    </table>


    <!--<div class="list-group">-->
    <!--<div-->
    <!--*ngFor="let signal of signals">-->
    <!--<a [routerLink]="['/signals', signal.id ]"-->
    <!--class="list-group-item">-->
    <!--Signal: {{ signal.id }} - Stellung: {{ signal.position }} - {{ signal.modelId }} - {{-->
    <!--signal.waitingVehiclesCount }}-->
    <!--<ngb-rating [(rate)]="signal.waitingVehiclesCount" [readonly]="true" max="2"></ngb-rating>-->
    <!--</a>-->
    <!--</div>-->


    <!--&lt;!&ndash;<hr>&ndash;&gt;-->
    <!--&lt;!&ndash;<ng-template #t let-fill="fill">&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="star" [class.full]="fill === 100">&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="half" [style.width.%]="fill">&hearts;</span>&hearts;&ndash;&gt;-->
    <!--&lt;!&ndash;</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
    <!--&lt;!&ndash;<ngb-rating [(rate)]="signal.waitingVehiclesCount" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>&ndash;&gt;-->

    <!--</div>-->
  </div>
</div>
