<div class="fixed-top mat-elevation-z20">
  <mat-toolbar
    color="primary"
    class="fixed-header">
    <mat-toolbar-row>
      <button mat-icon-button (click)="leftNavigation.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h6>{{ title }}</h6>
      <span class="app-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <!--<nav mat-tab-nav-bar backgroundColor="primary"-->
       <!--class="fixed-header">-->
    <!--<a mat-tab-link *ngFor="let link of links"-->
       <!--(click)="activeLink = link"-->
       <!--[active]="activeLink == link"> {{link}} </a>-->
  <!--</nav>-->
</div>

<mat-sidenav-container
  class="sidenav-container"
  [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
  <mat-sidenav
    #leftNavigation
    [opened]="false"
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches">
    <mat-toolbar class="side-toolbar">
      <mat-toolbar-row>
        <!--<button-->
        <!--mat-icon-button-->
        <!--(click)="leftNavigation.toggle()">-->
        <!--<mat-icon>menu</mat-icon>-->
        <!--</button>-->
        <h1>Navigation</h1>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list class="side-toolbar-navlist" *ngFor="let nav_category of navigation">
      <div *ngFor="let element of nav_category.values">
        <a *ngIf="element.available | async"
           mat-list-item
           (click)="mobileQuery.matches && leftNavigation.toggle()"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           routerLink="{{ element.link }}">
          <mat-icon class="nav-entry-icon">{{ element.icon }}</mat-icon>
          <span class="nav-entry-name">{{ element.name }}</span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <div class="main-card">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  <mat-sidenav position="end" mode="side" opened="false">
    Second
  </mat-sidenav>
</mat-sidenav-container>

