<div class="mat-typography">
  <h1 class="app-mute-dark-bg material-icons">
    <button mat-icon-button routerLink="/">
      <mat-icon>arrow_back</mat-icon>
    </button>
    Kreuzungen
  </h1>
</div>

<div class="row">
  <div *ngIf="(intersections$ | async) as intersections" class="col-md-6 mt-3">
    <mat-card class="app-card">
      <mat-card-title-group class="app-bg-primary app-fg-on-primary">
        <mat-card-title>Kreuzungen</mat-card-title>
        <mat-card-subtitle>Kreuzungen</mat-card-subtitle>
      </mat-card-title-group>
      <mat-nav-list
        class="app-nav-list-card"
        *ngIf="(intersections.length > 0); else help">
        <div *ngFor="let intersection of intersections; trackBy: trackById; let last = last">
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="/intersections/{{ intersection.id }}">
            <mat-icon class="list-icon" color="primary">gamepad</mat-icon>
            <span class="app-space-after-icon">{{ intersection.name }}</span>
            <span class="app-spacer"></span>
            ({{ intersection.currentSwitching }})
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider *ngIf="last"></mat-divider>
        </div>
      </mat-nav-list>
      <ng-template #help>
        <p class="card-text">
          Die Anlage enthält noch keine Kreuzungen.<br>
        </p>
      </ng-template>
    </mat-card>
  </div>
  <div class="col-md-6 mt-3">
    <mat-card class="app-card app-card-header-light">
      <mat-card-title-group>
        <mat-card-title>Hilfe</mat-card-title>
        <mat-card-subtitle>Kreuzungen</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <p>
          Erfahre wie Du Kreuzungen mit der Lua-Bibliothek einrichtest
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-stroked-button color="primary"
           target="_blank"
           href="https://andreas-kreuz.github.io/ak-lua-bibliothek-fuer-eep/anleitungen/">
          Anleitung
          <mat-icon>launch</mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>
    <!--<div class="card">-->
    <!--<div class="card-body">-->
    <!--<h5 class="card-title">Hilfe</h5>-->
    <!--<p class="card-text">-->
    <!--Erfahre wie Du Kreuzungen mit der Lua-Bibliothek einrichtest<br>-->
    <!--</p>-->
    <!--<p class="card-text">-->
    <!--<a class="btn btn-success" href="https://andreas-kreuz.github.io/ak-lua-bibliothek-fuer-eep/anleitungen/">Anleitung</a>-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>
