<div class="row mt-3">
  <div class="col-sm-12">
    <h1 class="mt-3">
      EEP-Log-Datei
    </h1>
  </div>
</div>
<div class="row pt-3">
  <div class="col-sm-12">
    <p>
      <button (click)="clearLog()" class="btn btn-danger btn-sm">Log löschen</button>&nbsp;
      <button (click)="sendTestMessage()" class="btn btn-primary btn-sm">Testnachricht</button>
    </p>
    <ul ngx-auto-scroll observe-attributes
        class="list-pre"
         [ngStyle]="{'height': maxHeight, 'max-height': maxHeight }">
      <li *ngFor="let line of (lines$ | async); trackBy: logEntries()"
          class="list-item-pre text-monospace">
        {{ line }}</li>
    </ul>
    <!--<pre ngx-auto-scroll observe-attributes-->
         <!--class="pre-scrollable"-->
         <!--[ngStyle]="{'height': maxHeight, 'max-height': maxHeight }">{{ linesAsString$ | async }}</pre>-->
  </div>
</div>
