<mat-card class="my-card" *ngIf="!(connectionEstablished$ | async)">
  <mat-card-title-group
    class="my-card-title-group mat-typography">
    <img
      mat-card-md-image
      src="../../../assets/andreas-kreuz-avatar.svg"
      alt="avatar">
    <mat-card-title class="title mat-display-3">
      EEP-Web
    </mat-card-title>
    <mat-card-subtitle
      *ngIf="!mobileQuery.matches"
      class="subtitle mat-display-1">
      Deine Anlage. Übersichtlich. Dargestellt.
    </mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content class="my-progress-content mat-typography">
    <p>&nbsp;</p>
    <mat-progress-spinner
      class="my-progress"
      color="warn"
      mode="indeterminate">
    </mat-progress-spinner>
    <p>Verbinde mit Server ...<br><br></p>
  </mat-card-content>
</mat-card>


<div class="mat-typography" *ngIf="(connectionEstablished$ | async)">
  <!--<p class="mat-display-1">-->
  <!--Deine Anlage. Übersichtlich. Dargestellt.-->
  <!--</p>-->
  <h3 class="app-text-muted">Daten Deiner EEP-Anlage</h3>
</div>


<mat-card class="my-card" *ngIf="(connectionEstablished$ | async)">
  <mat-nav-list>
    <div *ngFor="let category of navigation; let last_outer = last">
      <div *ngIf="category.name !== 'Home'">
        <div *ngFor="let element of category.values; let last = last">
          <a *ngIf="element.available | async"
             mat-list-item
             routerLink="{{ element.link }}">
            <!--<mat-icon-->
            <!--[matBadge]="element.badge | async"-->
            <!--matBadgePosition="above after"-->
            <!--class="list-icon">-->
            <!--{{ element.icon }}-->
            <!--</mat-icon>-->
            <mat-icon class="list-icon">{{ element.icon }}</mat-icon>
            <span class="list-element">{{ element.name }}</span>
            <span class="spacer"></span>
            <mat-icon class="list-icon" class="muted">chevron_right</mat-icon>
            <mat-divider *ngIf="!last || !last_outer"></mat-divider>
          </a>
        </div>
      </div>
    </div>
  </mat-nav-list>
</mat-card>

<div class="mat-typography">
  <p class="mat-small mat-caption app-text-muted">
    Versionen:<br>
    EEP-Web: {{ eepWebVersion$ | async }}
    <span *ngIf="(eepVersion$ | async) !== '?'">
    , EEP-Lua: {{ eepLuaVersion$ | async }}
      , EEP: {{ eepVersion$ | async }}
  </span>
  </p>
</div>
