<mat-card class="app-card app-card-header-light">
  <mat-card-title-group>
    <mat-card-title>
      EEP-Web
    </mat-card-title>
    <mat-card-subtitle>
      Deine Anlage. Übersichtlich. Dargestellt.
    </mat-card-subtitle>
  </mat-card-title-group>
  <img mat-card-image src="../../../assets/titel-image-simulator.jpg">
  <mat-card-content
    *ngIf="!(connectionEstablished$ | async)"
    class="my-progress-content mat-typography">
    <p>&nbsp;</p>
    <mat-progress-spinner
      class="my-progress"
      color="warn"
      mode="indeterminate">
    </mat-progress-spinner>
    <p>Verbinde mit Server ... {{ hostName$ | async }}<br><br></p>
  </mat-card-content>

  <mat-nav-list>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let category of navigation; let last_outer = last; let first_outer=first">
      <ng-container *ngIf="category.name !== 'Home'">
        <ng-container *ngFor="let element of category.values; let last = last">
          <a *ngIf="element.available | async"
             mat-list-item
             routerLink="{{ element.link }}">
            <!--<mat-icon-->
            <!--[matBadge]="element.badge | async"-->
            <!--matBadgePosition="above after"-->
            <!--class="app-list-icon"-->
            <!--{{ element.icon }}-->
            <!--</mat-icon>-->
            <mat-icon class="app-list-icon" color="primary">{{ element.icon }}</mat-icon>
            <span class="app-space-after-icon">{{ element.name }}</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider *ngIf="!last || !last_outer"></mat-divider>
        </ng-container>
      </ng-container>
    </ng-container>
    <mat-divider></mat-divider>
  </mat-nav-list>
</mat-card>


<div class="mat-typography" style="margin-top: 1.5em;">
  <p class="mat-small mat-caption app-mute-dark-bg">
    Versionen:<br>
    EEP-Web: {{ eepWebVersion$ | async }}<span
    *ngIf="(eepVersion$ | async) !== '?'">, EEP-Lua: {{ eepLuaVersion$ | async }}, EEP: {{ eepVersion$ | async }}
  </span>
  </p>
</div>
