<ng-template #noData>
  <p class="mat-typography">Es sind keine Daten vorhanden.</p>
</ng-template>
<mat-form-field *ngIf="(this.hasData$ | async); else noData">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table
  mat-table
  matSort
  class="mat-elevation-z0"
  [ngClass]="{hidden: (this.filteredRows$ | async)?.length === 0}"
  [dataSource]="dataSource">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef
        mat-sort-header> {{ columnNames[column] ? columnNames[column] : column }} </th>
    <td mat-cell *matCellDef="let element"> {{ textFor(element, column) }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>

<p *ngIf="(this.hasData$ | async) && (this.filteredRows$ | async)?.length === 0"
   class="mat-typography">
  Es wurden alle Daten gefiltert.
</p>

<!--<mat-paginator #paginator-->
<!--[length]="dataSource.data.length"-->
<!--[pageIndex]="0"-->
<!--[pageSize]="50"-->
<!--[pageSizeOptions]="[25, 50, 100, 250]">-->
<!--</mat-paginator>-->
<!--</div>-->
