<h1>
  Kreuzung Details &lt;ID&gt;
</h1>
<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Richtung</th>
        <th scope="col fit">Spuren</th>
        <th scope="col">Ampeln</th>
        <th scope="col">Schaltungen</th>
        <th scope="col">Warteliste</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Norden 1</td>
        <td class="table-danger fit align-middle">
          <img src="../../../../assets/sign-left.svg" width="24">
          <!--<img src="../../../../assets/sign-straight.svg" width="24">-->
          <!--<img src="../../../../assets/sign-right.svg" width="24">-->
        </td>
        <td>🚦 3, 4, 5</td>
        <td>Schaltung 2</td>
        <td>🚗🚗🚗🚗🚗</td>
      </tr>
      <tr>
        <td>Norden 2</td>
        <td class="table-success fit align-middle">
          <!--<img src="../../../../assets/sign-left.svg" width="24">-->
          <img src="../../../../assets/sign-straight.svg" width="24">
          <!--<img src="../../../../assets/sign-right.svg" width="24">-->
        </td>
        <td>🚦 6, 7</td>
        <td>Schaltung 2, <strong class="text-success">Schaltung 3</strong></td>
        <td>-</td>
      </tr>
      <tr>
        <td>Osten</td>
        <td class="table-danger fit align-middle">
          <img src="../../../../assets/sign-left.svg" width="24">
          <!--<img src="../../../../assets/sign-straight.svg" width="24">-->
          <img src="../../../../assets/sign-right.svg" width="24">
        </td>
        <td>🚦 8, 9, 10, 11</td>
        <td>Schaltung 1</td>
        <td>🚗🚗🚗🚗</td>
      </tr>
      <tr>
        <td>Süden</td>
        <td class="table-success fit align-middle">
          <!--<img src="../../../../assets/sign-left.svg" width="24">-->
          <img src="../../../../assets/sign-straight.svg" width="24">
          <img src="../../../../assets/sign-right.svg" width="24">
        </td>
        <td>🚦 33, 34, 35, 36, 37</td>
        <td><strong class="text-success">Schaltung 3</strong></td>
        <td>🚗</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<h1>
  Kreuzung Details &lt;ID&gt;
</h1>
<div class="row">
  <div class="col-md-6">
    <h2>Schaltungen</h2>
    <ul class="list-group">
      <li class="list-group-item"><strong>Schaltung 1</strong><br>
        <span class="text-black-50">Osten</span>
      </li>
      <li class="list-group-item"><strong>Schaltung 2</strong><br>
        <span class="text-black-50">Norden 1, Norden 2</span>
      </li>
      <li class="list-group-item bg-success"><strong>Schaltung 3</strong><br>
        <span class="text-black-50">Norden 2, Süden</span>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Richtungen</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <h3>Norden 1</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <div style="float: right;">
          <img src="../../../../assets/sign-left.svg" width="32">
          <!--<img src="../../../../assets/sign-straight.svg" width="32">-->
          <!--<img src="../../../../assets/sign-right.svg" width="32">-->
        </div>
        <strong>Norden 1</strong><br>
        <span class="text-black-50">Ampeln: 3, 4, 5<br>
        Warte: 🚗🚗🚗🚗🚗</span>
      </li>
    </ul>
  </div>
  <div class="col-md-2">
    <h2>Norden 2</h2>
    <ul class="list-group">
      <li class="list-group-item bg-success">
        <div style="float: right;">
          <div style="float: right;">
            <!--<img src="../../../../assets/sign-left.svg" width="32">-->
            <img src="../../../../assets/sign-straight.svg" width="32">
            <!--<img src="../../../../assets/sign-right.svg" width="32">-->
          </div>
        </div>
        <strong>Norden 2</strong><br>
        <span class="text-black-50">Ampeln: 6, 7<br>
        Warte: -</span>
      </li>
    </ul>
  </div>
  <div class="col-md-2">
    <h2>Osten</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <div style="float: right;">
          <img src="../../../../assets/sign-left.svg" width="32">
          <!--<img src="../../../../assets/sign-straight.svg" width="32">-->
          <img src="../../../../assets/sign-right.svg" width="32">
        </div>
        <strong>Osten</strong><br>
        <span class="text-black-50">Ampeln: 8, 9, 10, 11<br>
        Warte: 🚗🚗🚗🚗</span>
      </li>
    </ul>
  </div>
  <div class="col-md-2">
    <h2>Süden</h2>
    <ul class="list-group">
      <li class="list-group-item bg-success">
        <div style="float: right;">
          <!--<img src="../../../../assets/sign-left.svg" width="32">-->
          <img src="../../../../assets/sign-straight.svg" width="32">
          <img src="../../../../assets/sign-right.svg" width="32">
        </div>
        <strong>Süden</strong><br>
        <span class="text-black-50">Ampeln: 33, 34, 35, 36, 37<br>
        Warte: 🚗</span>
      </li>
    </ul>
  </div>
</div>


<h1>
  Kreuzung Details &lt;ID&gt;
</h1>
<div class="row">
  <div class="col-md-6">
    <h2>Schaltungen</h2>
    <ul class="list-group">
      <li class="list-group-item"><strong>Schaltung 1</strong><br>
        <span class="text-black-50">Osten</span>
      </li>
      <li class="list-group-item"><strong>Schaltung 2</strong><br>
        <span class="text-black-50">Norden 1, Norden 2</span>
      </li>
      <li class="list-group-item bg-success"><strong>Schaltung 3</strong><br>
        <span class="text-black-50">Norden 2, Süden</span>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <h2>Richtungen</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <div style="float: right;">
          <img src="../../../../assets/sign-left.svg" width="64">
          <!--<img src="../../../../assets/sign-straight.svg" width="64">-->
          <!--<img src="../../../../assets/sign-right.svg" width="64">-->
        </div>
        <strong>Norden 1</strong><br>
        <span class="text-black-50">Ampeln: 3, 4, 5<br>
        Warte: 🚗🚗🚗🚗🚗</span>
      </li>
      <li class="list-group-item bg-success">
        <div style="float: right;">
          <div style="float: right;">
            <!--<img src="../../../../assets/sign-left.svg" width="64">-->
            <img src="../../../../assets/sign-straight.svg" width="64">
            <!--<img src="../../../../assets/sign-right.svg" width="64">-->
          </div>
        </div>
        <strong>Norden 2</strong><br>
        <span class="text-black-50">Ampeln: 6, 7<br>
        Warte: -</span>
      </li>
      <li class="list-group-item">
        <div style="float: right;">
          <img src="../../../../assets/sign-left.svg" width="64">
          <!--<img src="../../../../assets/sign-straight.svg" width="64">-->
          <img src="../../../../assets/sign-right.svg" width="64">
        </div>
        <strong>Osten</strong><br>
        <span class="text-black-50">Ampeln: 8, 9, 10, 11<br>
        Warte: 🚗🚗🚗🚗</span>
      </li>
      <li class="list-group-item bg-success">
        <div style="float: right;">
          <!--<img src="../../../../assets/sign-left.svg" width="64">-->
          <img src="../../../../assets/sign-straight.svg" width="64">
          <img src="../../../../assets/sign-right.svg" width="64">
        </div>
        <strong>Süden</strong><br>
        <span class="text-black-50">Ampeln: 33, 34, 35, 36, 37<br>
        Warte: 🚗</span>
      </li>
    </ul>
  </div>
</div>
