<nav class="navbar navbar-dark navbar-expand-sm bg-success">
  <a routerLink="/" class="navbar-brand">
    <img src="assets/andreas-kreuz.jfif" width="30" height="30" class="d-inline-block align-top" alt="">
    {{ title }}
  </a>
  <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button-->

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
        <!--<a class="nav-link" routerLink="/">Home</a></li>-->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/intersections">Kreuzungen</a></li>
      <!--<li class="nav-item" routerLinkActive="active">-->
        <!--<a class="nav-link" routerLink="/switches">Zugsteuerung</a></li>-->
      <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/signals">Signale</a></li>
      <!--<li class="nav-item" routerLinkActive="active">-->
        <!--<a class="nav-link" routerLink="/switches">Weichen</a></li>-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <button class="btn btn-success btn-toolbar" (click)="onFetchData()">Aktualisieren</button></li>
      <li ngbDropdown>
        <span class="nav-link"
              style="cursor: pointer;"
           ngbDropdownToggle
           href="#">EEP-Werte</span>
        <ul ngbDropdownMenu class="bg-success">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/signals">Signale</a></li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/switches">Weichen</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
