<div class="row mt-3">
  <div class="col-sm-12">
    <mat-card *ngIf="(intersection$ | async) as intersection"
              class="app-card app-card-header-accent">
      <mat-toolbar color="accent">
        <mat-toolbar-row>
          <h1>Schalten</h1>
          <span class="app-spacer"></span>
          <button mat-icon-button
                  *ngIf="!intersection.staticCams || intersection.staticCams.length <= 1"
                  (click)="activateCam(intersection.staticCams[0])"
                  aria-label="Go to Cam">
            <mat-icon>videocam</mat-icon>
          </button>
          <button mat-icon-button
                  *ngIf="intersection.staticCams && intersection.staticCams.length > 1"
                  [matMenuTriggerFor]="menu"
                  aria-label="Toggle menu">
            <mat-icon>videocam</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item
                    *ngFor="let cam of intersection.staticCams"
                    (click)="activateCam(cam)">
              <mat-icon>videocam</mat-icon>
              {{ cam }}</button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
      <!--<mat-card-title-group>-->
        <!--<mat-card-title>Schalten</mat-card-title>-->
        <!--<mat-card-subtitle>Manuell oder Automatisch</mat-card-subtitle>-->
        <!--<button mat-icon-button mat-raised-button-->
                <!--*ngIf="!intersection.staticCams || intersection.staticCams.length <= 1"-->
                <!--class="app-card-button-tr"-->
                <!--(click)="activateCam(intersection.staticCams[0])"-->
                <!--aria-label="Go to Cam">-->
          <!--<mat-icon color="accent">videocam</mat-icon>-->
        <!--</button>-->
        <!--<button mat-icon-button mat-raised-button-->
                <!--*ngIf="intersection.staticCams && intersection.staticCams.length > 1"-->
                <!--class="app-card-button-tr"-->
                <!--[matMenuTriggerFor]="menu"-->
                <!--aria-label="Toggle menu">-->
          <!--<mat-icon color="accent">videocam</mat-icon>-->
        <!--</button>-->
        <!--<mat-menu #menu="matMenu" xPosition="before">-->
          <!--<button mat-menu-item-->
                  <!--*ngFor="let cam of intersection.staticCams"-->
                  <!--(click)="activateCam(cam)">-->
            <!--<mat-icon>videocam</mat-icon>-->
            <!--{{ cam }}</button>-->
        <!--</mat-menu>-->
      <!--</mat-card-title-group>-->
      <mat-card-content>
        <p class="mat-small mat-caption mb-5">Automatik</p>
        <p>
          <!--<span class="mat-small mat-caption">Automatik</span>-->
          <mat-slide-toggle
            class="my-vertical-list"
            [checked]="!intersection.manualSwitching"
            (click)="onChangeManualSwitching(intersection, intersection.nextSwitching)">
            Automatisch Schalten
          </mat-slide-toggle>
        </p>
      </mat-card-content>
      <mat-divider class="mt-5" [inset]="true"></mat-divider>
      <mat-card-content class="mat-typography">
        <p class="mat-small mat-caption mb-5">Nächste Schaltung</p>
        <p>
          <!--<span class="mat-small mat-caption">Nächste Schaltung</span>-->
          <mat-radio-group *ngIf="(switching$ | async) as switchings"
                           name="next_switching"
                           [value]="intersection.nextSwitching">
            <div *ngFor="let switching of switchings; trackBy: trackSwitching">
              <mat-radio-button
                class="my-vertical-list"
                (change)="switchTo(intersection, switching)"
                [disabled]="!intersection.manualSwitching"
                [value]="switching.name">{{ switching.name }}
                <span *ngIf="switching.name === intersection.currentSwitching"> (aktiv)</span>
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
