<h1>
  Signale
</h1>
<div class="row">
  <div class="col-sm-12">
    <div *ngIf="(signals$ | async) as signals; else error1">
      <div *ngIf="signals.length > 0; else error2">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Position</th>
            <th scope="col"># wartende Fahrzeuge</th>
            <th scope="col">EEP-Modell</th>
          </tr>
          </thead>
          <tbody *ngFor="let signal of signals; trackBy: trackSignalBy">
          <tr>
            <th scope="row">
              <a [routerLink]="signal.id">
                {{ signal.id }}
              </a>
            </th>
            <td ngSwitch="signal.position">
              {{ positionTextOf(signal) }}
            </td>
            <td>
          <span *ngIf="signal.waitingVehiclesCount > 0; else noWait">
            {{ waitingCarsOf(signal) }}
          </span>
              <ng-template #noWait>
                -
              </ng-template>
            </td>
            <td class="text-muted">{{ modelTextOf(signal) }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    <ng-template #error2>Es sind keine Signale vorhanden.</ng-template>
    </div>
    <ng-template #error1>Signale wurden nicht geladen.</ng-template>
  </div>
</div>
