<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p class="mat-display-2"
         style="margin-bottom: 24px; margin-top: 64px;">
        EEP-Web
      </p>
      <p class="mat-display-1 app-mute-dark-bg">
        Deine Anlage. Übersichtlich. Dargestellt.
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 d-flex">
      <mat-card class="d-flex flex-column flex-grow-1 mt-4">
        <img mat-card-image src="../../../../assets/card-img-intersection.jpg">
        <mat-card-title-group>
          <mat-card-title>Kreuzungen</mat-card-title>
          <mat-card-subtitle>Lua-Bibliothek</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          Schalte Deine Kreuzungen oder setze die passende Kamera.
        </mat-card-content>
        <span class="flex-grow-1"></span>
        <mat-card-actions>
          <a mat-button color="primary">Zu den Kreuzungen</a>
        </mat-card-actions>
      </mat-card>
    </div>



    <div class="col-sm-12 col-md-6 col-lg-6 d-flex">
      <mat-card class="d-flex flex-column flex-grow-1 mt-4">
        <img mat-card-image src="../../../../assets/card-img-trains-road.jpg">
        <mat-card-title-group>
          <mat-card-title>Autos</mat-card-title>
          <mat-card-subtitle>Straßen</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          <p>
            Hier findest Du auch Trams, die auf der Straße fahren.
          </p>
        </mat-card-content>
        <span class="flex-grow-1"></span>
        <mat-card-actions>
          <a mat-button color="primary">Autos zeigen</a>
        </mat-card-actions>
      </mat-card>
    </div>



    <div class="col-sm-12 col-md-6 col-lg-6 d-flex">
      <mat-card class="d-flex flex-column flex-grow-1 mt-4">
        <img mat-card-image src="../../../../assets/card-img-trains-tram.jpg">
        <mat-card-title-group>
          <mat-card-title>Trams</mat-card-title>
          <mat-card-subtitle>Straßenbahngleise</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          <p>Trams, die auf der Straße fahren, findest Du unter Autos.</p>
        </mat-card-content>
        <span class="flex-grow-1"></span>
        <mat-card-actions class="mt-auto">
          <a mat-button color="primary">Trams zeigen</a>
        </mat-card-actions>
      </mat-card>
    </div>



    <div class="col-sm-12 col-md-6 col-lg-6 d-flex">
      <mat-card class="d-flex flex-column flex-grow-1 mt-4">
        <img mat-card-image src="../../../../assets/card-img-trains-rail.jpg">
        <mat-card-title-group>
          <mat-card-title>Züge</mat-card-title>
          <mat-card-subtitle>Bahngleise</mat-card-subtitle>
        </mat-card-title-group>
        <span class="flex-grow-1"></span>
        <mat-card-actions>
          <a mat-button color="primary">Züge zeigen</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
